/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#menuToggle
{

  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: 35px;
  left: 96%;
  z-index: 1;
  transform: translate(-50%, -50%);

}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

}


#menuToggle span
{
  margin-right: 20px;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle1 span
{
  margin-right: 20px;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: red;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);

}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;

}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -300px;
  padding: 70px;
  padding-top: 125px;
  left: -40px;
  background: rgba(0,0,0,0.8);
  list-style-type: none;
  pointer-events: none;
  opacity: 50%;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(0%, 0);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 2%;
    transition: 0.5s;
}



#menuToggle input:checked ~ ul
{
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}


#menu a{
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-family: impact;
  transition: .3s;
  position:relative;
}

#menu li{
  padding-bottom: 8px;

}

#menu a::after{
  content:"";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: .2s;
}

#menu a:hover::after{
  width: 100%;
}

#menu a:hover{
  color:tomato;
}

.parallax1{
  background-image: url("pics/36.jpg");
  min-height: 800px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax2{
  background-image: url("pics/45.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* .responsive{
  width: 100%;
} */


.text{
  height: 300px;
  background-color: rgba(255, 0, 0, 0.5);

}



.bioimg{
  padding-top: 20px;
  width: 100%;
  height: auto;
}

.topnav a{
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50%;
  margin-top: 20px;
  transform: translate(-50%);
  position: relative;
}

.topnav a::after{
  content:"";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all ease-in-out .2s;
}

.topnav a:hover::after{
  width:100%;
  height: 2px;
  color:grey;
}

.iconimg{
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%);

}

.iconimg:hover{
  opacity: 0.8;
  cursor: pointer;
}

html{
  scroll-behavior: smooth;
}
body{
background-color: black;
  background-repeat: no-repeat;
  margin:0;
  background-attachment: fixed;
  background-position: top right;
  overflow: overlay;
}

video {
  width: 100%;
}

.video1 {
position: relative;
}

.video1 .videotext {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  width: auto;
}
.colpad{
  padding:2px;

}

.img1{
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  padding:0;

}


.hovereffect1{
  width:100%;
  display: inline-block;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;

}



a:hover{
  color:white;
  text-decoration: none;
}

.overlay{
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  bottom: 100%;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transition: 1s;
}

.hovereffectimg{
  transition: 0.6s;
}

.img1:hover{
  opacity: 0.4;
  transition: 0.6s;
}

.hovereffect1:hover .overlay{
  opacity: 1;
}

.textdecoration2{
  width: 100%;
  color: white;
  font-size: 15px;
  text-align: center;
  position: absolute;
  margin-top: auto;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);
}

.aboutme1{
  width: 100%;
  max-height: auto;
  overflow: auto;
}


.aboutme{
width: 100%;
height: auto;
background-image: linear-gradient(grey, black);


}


.biotext{
  font-size: 30px;
  font-family: 	helvetica;
  color:white;
  text-align: left;
  padding-top: 20px;
  margin-right: 15px;
}



/* Codie's Work Begins Here- Musical Thumbnails  */

#music-tiles {
  max-width:1400px;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
}

.thumbnail-container {
  width:310px;
  height:310px; 
  padding:0;
  margin:10px 10px;
}

.thumbnail-color {
  width:310px;
  height:310px;
  position:relative;
  top:-99%;
  left:-2%;
  margin-right: -300px;
  padding:0;
  z-index:3;
}

.thumbnail-grey {
  width:300px;
  height:300px;
  padding:0;
}

#now-playing-container {
  width:500px;
  min-height:150px;
  border-style:none;
  background-color:black;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin: 0 auto;
}

.volume-icon {
  width:40px;
  height:auto;
  margin:40px;
}


#np-container {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.fixed-np {
  position:fixed;
  top:20px;
  left:50%;
  transform:translate(-50%, 0);
  z-index:4;
}

.hidden-np {
  visibility:hidden;
}







/* Codie's Work Ends Here- Musical Thumbnails  */
