* {
  padding: 0;
  margin: 0;
}

.block:not(.first) {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: pink;
  margin-bottom: 10px;
}

.first {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: pink;
  margin-bottom: 10px;
}
.first:hover {
  height: 500px;
}

#list {
  padding: 10%;
  margin-left: 30px;
  list-style: lower-alpha;
}
#list li {
  font-size: 1.3em;
  font-family: monospace;
  color: yellow;
  font-weight: bold;
  text-decoration: overline;
  float: left;
  width: 20%;
}
#list .a1 {
  color: white;
}

.a2 {
  font-size: 1.3em;
  font-family: monospace;
  color: green;
  font-weight: bold;
  color: black;
}
.a2:hover {
  color: blue;
}
.a2:active {
  color: blue;
}
.a2:visited {
  color: purple;
}

#grid {
  width: 100%;
  float: left;
  background: red;
}
#grid div {
  float: left;
  background: blue;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 200px;
  width: 28.3333333333%;
}