@import "mixins.scss";


$bgcolor: pink;
$fontcolor: green;

*{
  padding:0;
  margin:0;
}

// not(.first) - except
.block:not(.first){
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: $bgcolor;
  margin-bottom: 10px;
}

// exception
.first{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: $bgcolor;
  margin-bottom: 10px;

  &:hover{
  height:500px;
}
}



#list{
  padding:10%;
  margin-left: 30px;
  list-style: lower-alpha;
  li{
    @include font (yellow, bold);
    text-decoration: overline;
    float:left;
    width: (100%/5);
      }

.a1{
  color:white;
}

  }
  .a2{
    @include font ($fontcolor, bold);
    @include link (black, blue, green, purple);
}



#grid{
  width:100%;
  float: left;
  background: red;

  div{
    @include grid(3, 5%);
  }
}

// specify what mixin parametrs  those are
